{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Raúl Teodor Petre Manea</title>
</head>
<body>
    <div id="app-layout-body" class="container-fluid body-content">
        <div class="row">
            <img src="https://i.ibb.co/RckwzHW/Captura-CV.png" alt="Captura-CV" style="margin-left: 250px;width: 770px;height: 900px;" border="0">
        </div>
    </div>
</body>
</html>

{% endblock %}